body{
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}
.swiper-button-next,
.swiper-button-prev {
 
    right:10px;
    padding: 30px;
    color: #ffffff !important;
    fill: rgb(255, 255, 255) !important;
    stroke: rgb(255, 255, 255) !important;
}

@media (max-width: 768px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }
    .swiper-slide  {
        margin-left: 10%;
    }
}
